.ufo-container {

    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    overflow: hidden;

    // @include respond-to(handhelds) {
    //     max-width: $screen-xs;
    //     height: 210px;
    // }
    // @include respond-to(medium-screens) {
    //     max-width: $screen-sm;
    //     height: 484px;
    // }
    // @include respond-to(wide-screens) {
    //     max-width: $screen-md;
    //     height: 650px;
    // }

    @media ( min-width: $screen-xs ) {
        max-width: $screen-sm-half;
        height: 250px;
    }
    @media ( min-width: $screen-sm ) {
        max-width: $screen-md-sm;
        height: 484px;
    }
    @media ( min-width: $screen-md ) {
        max-width: $screen-lg-md;
        height: 650px;
    }

    &__content {
        width: 100%;
        height: 100%;
    }

    &__logo-shine,
    &__landed-shine {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__ufo,
    &__logo,
    &__landed {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__logofade-two {
        position: absolute;
        top: 43%;
        left: 25%;
        width: 75%;
    }

    &__logofade-one {
        position: absolute;
        top: 15.6%;
        left: 21.3%;
        width: 56%;
    }

    &__ufofade-one {
        position: absolute;
        top: 66%;
        left: 2.4%;
        width: 52%;
    }

    &__landed-one {
        position: absolute;
        top: 65%;
        left: 20%;
        width: 50%;
    }

    &__landed-two {
        position: absolute;
        top: 60%;
        left: 41%;
        width: 50%;
    }

    &__ufo-svg {
        position: relative;
        top: 10%;
    }

    &__logo-text {
        position: relative;
        top: 30%;
    }

    &__landed-text {
        position: relative;
        top: 54%;
    }
}
