.ufo-container .center {
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.ufo-container .hide {
	display: none;
}

.ufo-container .show {
	display: block;
}

.ufo-container {
	display: block;
	position: relative;
	width: 100%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
	text-align: center;
}

.ufo-container__content {
	height: 100%;
	width: 100%;
}

.ufo-container__logo-shine,
.ufo-container__landed-shine {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.ufo-container__ufo,
.ufo-container__logo,
.ufo-container__landed {
	position: absolute;
	height: 100%;
	width: 100%;
}

.ufo-container__logofade-two {
	position: absolute;
	width: 75%;
	left: 25%;
	top: 43%;
}

.ufo-container__logofade-one {
	position: absolute;
	width: 56%;
	left: 21.3%;
	top: 15.6%;
}

.ufo-container__ufofade-one {
	position: absolute;
	width: 52%;
	left: 2.4%;
	top: 66%;
}

.ufo-container__landed-one {
	position: absolute;
	width: 50%;
	left: 20%;
	top: 65%;
}

.ufo-container__landed-two {
	position: absolute;
	width: 50%;
	left: 41%;
	top: 60%;
}

.ufo-container__ufo-svg {
	position: relative;
	top: 10%;
}

.ufo-container__logo-text {
	position: relative;
	top: 30%;
}

.ufo-container__landed-text {
	position: relative;
	top: 54%;
}

@media (min-width: 320px) {

.ufo-container {
	max-width: 320px;
	height: 210px;
}

}

@media (min-width: 768px) {

.ufo-container {
	max-width: 768px;
	height: 484px;
}

}

@media (min-width: 1025px) {

.ufo-container {
	max-width: 1025px;
	height: 650px;
}

}

